{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'vuelos/estilos.css' %}"/>
    <script type="text/javascript" src="{ % static vuelos/script.js' %}"></script>
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>   
    {% block login %}
    
    <ul>
        {% if user %}
            <li>Usuario: {{ user.username }}</li>
        {% else %}
            <li>Usuario: Anonimo</li>
            <li><a href="{% url 'registro' %}">Logout</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    {% endblock %}
    {% block body %}
    {% endblock %}
</body>
</html>