{% extends "layout.html" %}

{% block titulo %}
        Vuelo
{% endblock %}  
{% block body %}
    <h1>Detalle vuelo</h1>
    <form action="{{ url_for('actualizar') }}" method="POST">
        
        <div class="form-group">
			<input class="form-control" name="origen" id="txtOrigen" disabled="true" value='{{vuelo.origen}}'>
		</div>
        <div class="form-group">
            <input class="form-control" name="destino" id="txtDestino" disabled="true" value='{{vuelo.destino}}'>
        </div>
        <div class="form-group">
            <input class="form-control" name="duracion" id="txtDuracion" disabled="true" value='{{vuelo.duracion}}'>
        </div>
        {% if perfil == 'admin'}
        <div class="form-group">
            <button class="btn btn-success" id="btnActualizar" disabled="true">Actualizar</button>
        </div>
        <button type="button" id="btnEditar" class="btn btn-primary" onclick="habilitarDeshabilitar()">Editar</button>
        <button type="button" id="btnCancelar" class="btn btn-danger" onclick="habilitarDeshabilitar()" disabled="true">Cancelar</button>
        {% endif %}
    </form>
    
    <script>
        let boton = document.getElementById("btnActualizar");
    
        document.addEventListener("DOMContentLoaded",() => {
            boton.addEventListener("click",validacionactualizar); 

        });     
    </script>
    <h2>Pasajeros</h2>
    <ul class="list-group">
        {% for pasajero in pasajeros %}
            <li class="list-group-item">Nombre: {{ pasajero.nombre }}</li>
        {% else %}
            <li class="list-group-item">No existen pasajeros para este vuelo</li>
        {% endfor %}
    </ul>
    
{% endblock %}